h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
p{
    color: rgb(255, 212, 148);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

img{
    display: block;
    margin: 0;    
}
h2{
    text-align: center;
    color: rgb(196, 196, 196);
}

h3{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 28px;
}
div{
    text-align: center;
}