h1{
    text-align: center;
    color: rgb(255, 224, 67);
    font-size: larger;
}

p{
    text-align: center;
    color: aliceblue;
    font-size: large;
}

img{
    display: block;
    margin: auto;
}
h3{
    text-align: center;
    font-size: larger;
}
body {
    background-image: url(./Image/Obscure\ City\ Sky.png);
    background-repeat: no-repeat;
    background-size: cover;
}